* {
    box-sizing: border-box;
}

html {
    background-color: peachpuff; /* Sets the background color to beige */
    font-family: Georgia;
}

/* sets font type to monospace, font size to 20 pixels, and color to crimson */
h1, h2, h3 {
    font-family: "Audiowide", Georgia;
    font-size: 20px;
    color: crimson;
}

table, th, td {
    border: 1px solid black;  /* sets border size to 1 pixel and gives it a solid black color */
    background-color: beige;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

th, td {
    padding: 15px;
}

p {
    font-size: 20px; /* sets the font size to 20 pixels */
}

img {
    border: 2px solid black;
}

.venn-diagram {
    text-align: center;
}

.table-container {
    text-align: center;
    padding-bottom: 10px;
}

.a-solution, .b-formula, .b-solution, .c-solution {
    text-align: center;
}