/*
Name: Andy Nguyen
Date: 10/7/2023
Description: Styling index.html using external CSS. Only pacific.css should be edited. The page should look
similar to the one shown in the images "capture 1-5."
*/

* {
    box-sizing: border-box;
}

#wrapper {
    min-width: 600px;
    max-width: 80%;
    margin: 0 auto;
}

body {
	background-color: #00569f;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
    background-image: url(ptrbackground.jpg);
    background-repeat: repeat-x;
}

header {
    background-color: #0e0d34;
    color: white;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    background-color: #90c7e3;
    float: left;
    padding-right: 30px;
    background-image: linear-gradient(90deg, #90c7e3 100%, white 100%);
    padding-bottom: 328px;
    /*height: 455px;*/
}

/* list-style-type removes bullet points */
nav ul {
	font-size: 1.2em;
    list-style-type: none;
    color: black;
}

/* Changes font to bold and remove underlines from links by setting text-decoration to none */
nav a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: #FFFFFF;
}

/* Gives color and padding to the content */
#content {
    background-color: white;
    padding-top: 10px;
}

/* Made the image float to the left. All text will go to the right or below it */
img {
    float: left;
    padding-right: 30px;
    padding-left: 30px;
}

/* Gives special coloring and bold font to the resort name */
.resort {
    color: #5c7eaf;
    font-weight: bold;
}

/* Gives special bullet points to most of the text in the main page */
#content ul {
    list-style-image: url(marker.gif);
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}

h2 {
	color: #3399CC;
    padding-left: 220px;
}

h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {
	font-size: 90%;
}

dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
    background-color: white;
    padding: 50px 0px 30px 220px;
}


